body, html{
    height: 100%;
}
.a1{
    text-decoration: none;
    border-radius: 30px;
    background-color: #FFC500;
    color: white;
}
.fw-bolder{
    margin: 5%;
    color: #003566;
    position: absolute;
    top: 30%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: left;
}
.fw-bolder:hover{
    color: #FFC500;
}
.hero-image{
    background-image:url("https://raw.githubusercontent.com/kkokop/MSIB/master/ball3Dpng.png");
    height: 70%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.bg{
    text-align: center;
    color: white;
    background-color: black;
    height: 20%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.h1-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.wel{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 10vw;
    color: #003566;
}
.ulwel{
    text-decoration: none;
}
.liwel{
    list-style: none;
    width: fit-content;
    text-align:center;
    background-color: #FFC500;
}
.wel:hover{
    color: white;
}
.h1-text:hover{
    color: white;
    padding: 10px;
}
.button1{
    border-radius: 30px;
    background-color: #FFC500;
}
button{
    background-color: white;
    border: 0px solid;
    border-radius: 30px;
}
button:hover{
    background-color: #FFC500;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
nav{
    background-color: white;
    float: none;
}
nav  ul{
    background-color: white;
    height: max-content;
    width: fit-content;
    border-radius: 30px;
}
nav ul li{
    background-color: white;
    border-radius: 30px;
    color: white !important;
}
nav ul li a{
    color: black !important;
}

nav ul li a:hover{
    color: white !important;

}
nav form button{
    border-radius: 30px;
}

.dot {
    height: 25px;
    width: 25px;
    background-color: #FFC500;
    border-radius: 50%;
    display: inline-block;
  }
  .dot:hover{
    background-color: #003566;
  }

@media screen and (max-width:800px) {
    .wel{
        font-size: 13vw;
    }
    .h1-text{
        top: 50%;
        left: 50%;
    }
    .dot{
        margin-left: auto;
    }
}

